<!DOCTYPE html>
<html lang="pt-br">
    <head>
      
    </head>
    <body>
        <form action="curriculo.php" method="POST">
            <h1>curriculo</h1>
            <h4>Dados Pessoais</h4>
            <p>nome:<input type="text" required></p></br>
            <p>Telefone:<input type="text" required></p></br>
            <p>email:<input type="email" required></p></br>
            <p>Endereço:<input type="text" required></p></br>
            <hr>
            <h4>escolaridade</h4>
            ensino Fundamental completo<input type="checkbok"></br>
            ensino medio completo<input type="checkbok"></br>
            ensino superior completo<input type="checkbok"></br>
            Pos-Graduacão completo<input type="checkbok"></br>
            mestrado completo<input type="checkbok"></br>
            <hr>
            <h4>Experiencia Profissional<h4>
                <p>Empresa:<input type="text" required></p></br>
                <p>Data de adimissao:<input type="date" required></p></br>
                <p>data de Demissão:<input type="date" required></p></br>
                <p>atividade exercida:<input type="text" required></p></br>
                <hr>
                <h4>Cursos d idiomas</h4>
                <p>Descricao:<input type="text" required></p></br>
                <p>horas:<input type="text" required></p></br>
                <p>ano de cunclusao:<input type="text" required></p></br>
                <hr>
                <h4>informaçoes adicionais</h4>
                <p>informaçoes dicionais:<input type="text" required></p></br>
            <input type="submit" value="Cadastrar">
                
        </form>  
    </body>
</html>    
